@model List<CarRental>
@{
	ViewData["Title"] = "Car Rentals";
}


<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-10">
			<form asp-controller="CarRental" asp-action="Search" method="get">
				<div class="search-row">
					<div class="form-group">
						<label for="RentalCompany">Rental Company::</label>
						<div class="input-icon">
							<i class="fa-solid fa-truck-fast"></i>
							<input type="text" id="RentalCompany" name="RentalCompany" class="form-control" placeholder="Rental Company">
						</div>
					</div>
					<div class="form-group">
						<label for="CarModel">Car Model:</label>
						<div class="input-icon">
							<i class="fa-solid fa-car"></i>
							<input type="text" id="CarModel" name="CarModel" class="form-control" placeholder="Car Model">
						</div>
					</div>
					<div class="form-group">
						<label for="PickUpDate">Pickup Date:</label>
						<div class="input-icon">
							<i class="fa-solid fa-location-dot"></i>
							<input type="text" id="PickUpDate" name="PickUpDate" class="form-control" placeholder="Pickup Date">
						</div>
					</div>
					<div class="form-group">
						<label for="DropOffDate">Dropoff Date:</label>
						<div class="input-icon">
							<i class="fa-solid fa-location-dot"></i>
							<input type="text" id="DropOffDate" name="DropOffDate" class="form-control" placeholder="Drop off Date">
						</div>
					</div>
				</div>
				<div class="form-group" style="text-align: center; margin-top: 10px; margin-bottom: 20px;">
					<button type="submit" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i> Explore</button>
				</div>
			</form>
		</div>
	</div>
</div>


<a class="btn btn-primary" asp-area="" asp-controller="CarRental" asp-action="Create">Create New Car Rental</a>

<div class="white-opaque">
	@if (Model.Any())
	{
		<table class="table white-opaque">
			<thead>
				<tr>
					<td>Rental Company</td>
					<td>Pick Up Location</td>
					<td>Pick Up Date</td>
					<td>Drop Off Date</td>
					<td>Car Model</td>
					<td>Max Passengers</td>
					<td>Price</td>
					<td>Actions</td>
				</tr>
			</thead>
			<tbody>
				@foreach (var carRental in Model.Where(cr => cr.Available != false))
				{
					<tr>
						<td>@carRental.RentalCompany</td>
						<td>@carRental.PickUpLocation</td>
						<td>@carRental.PickUpDate</td>
						<td>@carRental.DropOffDate</td>
						<td>@carRental.CarModel</td>
						<td>@carRental.MaxPassengers</td>
						<td>@carRental.Price</td>
						<td>
							<a asp-action="Book" asp-route-id="@carRental.CarRentalId" class="btn btn-info">Book Now</a>
							<a asp-action="Details" asp-route-id="@carRental.CarRentalId" class="btn btn-info">Details</a>
							<a asp-action="Edit" asp-route-id="@carRental.CarRentalId" class="btn btn-secondary">Edit</a>
							<a asp-action="Delete" asp-route-id="@carRental.CarRentalId" class="btn btn-danger">Delete</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	}
	else
	{
		<p>No car rentals available.</p>
	}
</div>