@model IEnumerable<GBC_Travel_Group_90.Models.HotelBooking>

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to Hotel Booking Service</h1>



<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h3>Admin View</h3>
            <form method="get" asp-action="Index">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required />
                @Html.AntiForgeryToken()
                <button type="submit">View</button>
            </form>
        </div>
    </div>
</div>
@if (ViewBag.IsAdmin )
{
    <a class="btn btn-primary" asp-action="Create">Create New Hotel Booking</a>
}

<table class="table white-opaque">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckInDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckInDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel.Location)
            </td>
            

            @if (ViewBag.IsAdmin)         
            {
                <td>
                        <a asp-action="Edit" asp-route-isAdmin="true" asp-route-id="@item.HotelBookingId" class="btn btn-secondary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.HotelBookingId" class="btn btn-info">Details</a>
                        <a asp-action="Delete" asp-route-isAdmin="true" asp-route-id="@item.HotelBookingId" class="btn btn-danger">Delete</a>
                </td>
            }
                              
                
        </tr>
}
    </tbody>
</table>
