@model IEnumerable<GBC_Travel_Group_90.Models.HotelBooking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (ViewBag.IsAdmin)
{
    <a class="btn btn-primary" asp-action="Create">Create New Hotel Booking</a>
}

<table class="table white-opaque">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckInDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckInDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel.Location)
            </td>
            

            @if (ViewBag.IsAdmin)         
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.HotelBookingId">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.HotelBookingId">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.HotelBookingId">Delete</a>
                </td>
            }
                              
                
        </tr>
}
    </tbody>
</table>
