@model List<CarRental>

@if (Model.Any())
{
    <table class="table white-opaque">
        <thead>
            <tr>
                <th>Rental Company</th>
                <th>Pick Up Location</th>
                <th>Pick Up Date</th>
                <th>Drop Off Date</th>
                <th>Car Model</th>
                <th>Price</th>
                <th>Actions</th>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole("Admin"))
                    {
                        <th>Admin Actions</th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var carRental in Model.Where(cr => cr.Available != false))
            {
                <tr>
                    <td>@carRental.RentalCompany</td>
                    <td>@carRental.PickUpLocation</td>
                    <td>@carRental.PickUpDate</td>
                    <td>@carRental.DropOffDate</td>
                    <td>@carRental.CarModel</td>
                    <td>@carRental.Price</td>
                    <td>

                        <a asp-action="GetBook" asp-route-id="@carRental.CarRentalId" class="btn btn-primary">Book Now</a>
                        <a asp-action="Details" asp-route-id="@carRental.CarRentalId" class="btn btn-info">Details</a>

                    </td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("Admin"))
                        {
                            <td>
                                <a asp-action="Edit" asp-route-id="@carRental.CarRentalId" class="btn btn-secondary">Edit</a>
                                <a asp-action="Delete" asp-route-id="@carRental.CarRentalId" class="btn btn-danger">Delete</a>
                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No car rentals available.</p>
}