@model CarRental

<div class="card">
    <div class="card-header">
        <h2>Book Car</h2>
    </div>

    <div class="card-body">
        <p>Car Model: @Model.CarModel</p>
        <p>Rental Company: @Model.RentalCompany</p>
        <p>Pickup Location: @Model.PickUpLocation</p>
        <p>Pick Up Date: @Model.PickUpDate</p>
        <p>Drop Off Date: @Model.DropOffDate</p>
        <p>Price: @Model.Price</p>
    </div>
</div>

<div>
    <form asp-area="TravelManagement" asp-controller="CarRental" asp-action="Book" method="post">
        <input type="hidden" name="id" value="@Model.CarRentalId" />
        <button type="submit" class="btn btn-secondary">Book Car Rental</button>
        <a asp-controller="Flight" asp-action="Index" class="btn btn-warning">Back to Car Rentals</a>
    </form>
</div>