@model List<CarRental>
@{
    ViewData["Title"] = "Car Rentals";
}

<!-- Load the flight-search.js file -->
@section Scripts {
    <script src="~/js/carRentalSearch.js"></script>
}


<script>
    $(document).ready(function () {
        var page = window.location.pathname;

        // Remove the 'active' class from all tabs
        $('.nav-link').removeClass('active');
        // Car tab active
        $('#carrentals-tab').addClass('active');
        $('#loader').hide();

    });
</script>

@Html.Partial("~/Views/Shared/_SearchBar.cshtml")
@Html.Partial("~/Views/Shared/_LoadingBar.cshtml")

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Admin"))
    {
        <a class="btn btn-primary" asp-controller="CarRental" asp-action="Create">Create New Car Rental</a>
    }
}

<div class="card">
    <div id="carList" class="card-body">
        @if (Model.Any())
        {
            <table class="table white-opaque">
                <thead>
                    <tr>
                        <td>Rental Company</td>
                        <td>Pick Up Location</td>
                        <td>Pick Up Date</td>
                        <td>Drop Off Date</td>
                        <td>Car Model</td>
                        <td>Price</td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var carRental in Model.Where(cr => cr.Available != false))
                    {
                        <tr>
                            <td>@carRental.RentalCompany</td>
                            <td>@carRental.PickUpLocation</td>
                            <td>@carRental.PickUpDate</td>
                            <td>@carRental.DropOffDate</td>
                            <td>@carRental.CarModel</td>
                            <td>@carRental.Price</td>
                            <td>
                                <a asp-action="GetBook" asp-route-id="@carRental.CarRentalId" class="btn btn-primary">Book Now</a>
                                <a asp-action="Details" asp-route-id="@carRental.CarRentalId" class="btn btn-info">Details</a>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a asp-action="Edit" asp-route-id="@carRental.CarRentalId" class="btn btn-secondary">Edit</a>
                                        <a asp-action="Delete" asp-route-id="@carRental.CarRentalId" class="btn btn-danger">Delete</a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No car rentals available.</p>
        }
    </div>
</div>

