@model IEnumerable<Hotel>

@{
    ViewData["Title"] = "Hotel Home Page";
}

<script>
    $(document).ready(function () {
        var page = window.location.pathname;

        // Remove the 'active' class from all tabs
        $('.nav-link').removeClass('active');
        // Car tab active
        $('#hotels-tab').addClass('active');

    });
</script>


@Html.Partial("~/Views/Shared/_SearchBar.cshtml")

<div class="white-opaque">
@if (ViewBag.AlreadyBookedMessage != null)
{
    <div class="alert alert-warning">
        @ViewBag.AlreadyBookedMessage
    </div>
}
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <p>Admin View</p>
                </div>
                <div class="card-body">
                    <form method="get" asp-action="Index">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" class="form-control" required />
                        </div>
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-primary">View</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    
@if (ViewBag.IsAdmin  )
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}



<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Location)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StarRate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumberOfRooms)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                 {
                    @foreach (var item in Model)
                    {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Location)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StarRate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumberOfRooms)
                                </td>
                                <td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.HotelId" class="btn btn-info">Details</a>
                                @if (ViewBag.IsAdmin)
                                {
                                    <a asp-action="Edit" asp-route-isAdmin="true" asp-route-id="@item.HotelId" class="btn btn-secondary">Edit</a>
                                    <a asp-action="Delete" asp-route-isAdmin="true" asp-route-id="@item.HotelId" class="btn btn-danger">Delete</a>
                                }

                            </td>
                        </tr>
                        }
                 }
                else
                {
                    <tr>
                        <td class="text-danger">No hotels available.</td>
                    </tr>
                
                }
            </tbody>
        </table>
    </div>
</div>
