@model IEnumerable<Hotel>

@{
    ViewData["Title"] = "Hotel Home Page";
}

<!-- Load the flight-search.js file -->
@section Scripts {
    <script src="~/js/hotelSearch.js"></script>
}


<script>
    $(document).ready(function () {
        var page = window.location.pathname;

        // Remove the 'active' class from all tabs
        $('.nav-link').removeClass('active');
        $('.tab-pane').removeClass('show active');

        // Hotel tab active
        $('#hotels-tab').addClass('active');
        $('#hotels').addClass('show active');
        $('#loader').hide();
    });
</script>

@Html.Partial("~/Views/Shared/_SearchBar.cshtml")
@Html.Partial("~/Views/Shared/_LoadingBar.cshtml")

<div class="white-opaque">
@if (ViewBag.AlreadyBookedMessage != null)
{
    <div class="alert alert-warning">
        @ViewBag.AlreadyBookedMessage
    </div>
}
</div>

@* :) *@

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Admin"))
    {
        <a class="btn btn-primary" asp-controller="Hotel" asp-action="CreateBooking">Create New Hotel</a>
    }
}

<div class="card">
    <div id="hotelList" class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Location)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StarRate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumberOfRooms)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                 {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StarRate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumberOfRooms)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>

                                <a class="btn btn-primary" asp-controller="HotelBooking" asp-action="Create" asp-route-hotelId="@item.HotelId">Book Hotel</a>
                                <a asp-action="Details" asp-route-id="@item.HotelId" class="btn btn-info">Details</a>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.HotelId" class="btn btn-secondary">Edit</a>
                                        <a asp-action="Delete" asp-route-id="@item.HotelId" class="btn btn-danger">Delete</a>
                                    }
                                }
                            </td>
                        </tr>
                        }
                 }
                else
                {
                    <tr>
                        <td class="text-danger">No hotels available.</td>
                    </tr>           
                }
            </tbody>
        </table>

        <div class="container">
            <div class="row row-30   justify-content-center">
                @if (Model.Any())
                {
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-6 col-lg-4">
                            <div class="card h-100">
                                <img src="/book-hotels.jpg" class="card-img-top" alt="Hotel @item.Name">
                                <div class="card-body">
                                    <h5 class="card-title">@item.Name</h5>
                                    <h5 class="card-text">Location: @item.Location</h5>
                                    <h5 class="card-text">Star Rate: @item.StarRate</h5>
                                    <h5 class="card-text">Available Rooms: @item.NumberOfRooms</h5>
                                </div>
                                <div class="card-footer">
                                    <a asp-action="Details" asp-route-name="@item.Name" asp-route-id="@item.HotelId" class="btn btn-info">Details</a>

                                    <a asp-action="Edit" asp-route-name="@item.Name" asp-route-id="@item.HotelId" class="btn btn-secondary">Edit</a>
                                    <a asp-action="Delete" asp-route-id="@item.HotelId" class="btn btn-danger">Delete</a>

                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="col text-center">
                        <p class="text-danger">No hotels available.</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


