@model ApplicationUser

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>User Information</h3>
        </div>
    </div>

    <div class="row" style="margin-top: 0">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">User Information</h5>
                    <p><strong>Email: </strong>@Model.Email</p>
                    <p><strong>First Name: </strong>@Model.FirstName</p>
                    <p><strong>Last Name: </strong>@Model.LastName</p>
                    <p><strong>Phone Number: </strong>@Model.PhoneNumber</p>
                    <hr />
                    <p><strong>Flyer Points: </strong>@Model.FrequentFlyerPoints</p>
                    <p><strong>Car Points: </strong>@Model.FrequentCarPoints</p>
                    <p><strong>Hotel Loyalty Points: </strong>@Model.HotelLoyaltyPoints</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Profile Picture</h5>
                    @if (Model.ProfilePicture != null)
                    {
                        <img style="width: 150px; height: 150px; object-fit: cover; border-radius: 20px; margin-right: 2px;"
                             src="data:image/*;base64,@(Convert.ToBase64String(Model.ProfilePicture))" />
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Flight Information</h3>
        </div>
    </div>

    @if (Model.Bookings != null)
    {
        foreach (var flightBooking in Model.Bookings)
        {
            <div class="card mb-3">
                <div class="card-body">
                    <p><strong>Flight Number: </strong>@flightBooking.Flight?.FlightNumber</p>
                    <p><strong>Airline: </strong>@flightBooking.Flight?.Airline</p>
                    <p><strong>Origin: </strong>@flightBooking.Flight?.Origin</p>
                    <p><strong>Destination: </strong>@flightBooking.Flight?.Destination</p>
                    <p><strong>Departure Time: </strong>@flightBooking.Flight?.DepartureTime</p>
                    <p><strong>Arrival Time: </strong>@flightBooking.Flight?.ArrivalTime</p>
                    <p><strong>Price: </strong>$@flightBooking.Flight?.Price</p>
                </div>
            </div>
        }      
    }

    <div class="card">
        <div class="card-header">
            <h3>Car Rental Information</h3>
        </div>
    </div>

    @if (Model.CarSuccesses != null)
    {
        foreach (var carRental in Model.CarSuccesses)
        {
            <div class="card mb-3">
                <div class="card-body">
                    <p><strong>Rental Company: </strong>@carRental.CarRental.RentalCompany</p>
                    <p><strong>Pick Up Location: </strong>@carRental.CarRental.PickUpLocation</p>
                    <p><strong>Pick Up Date: </strong>@carRental.CarRental.PickUpDate</p>
                    <p><strong>Drop Off Date: </strong>@carRental.CarRental.DropOffDate</p>
                    <p><strong>Car Model: </strong>@carRental.CarRental.CarModel</p>
                    <p><strong>Maximum Passengers: </strong>@carRental.CarRental.MaxPassengers</p>
                    <p><strong>Price: </strong>$@carRental.CarRental.Price</p>
                </div>
            </div>
        }
    }

    <div class="card">
        <div class="card-header">
            <h3>Hotel Information</h3>
        </div>
    </div>

    @if (Model.HotelBookings != null)
    {
        foreach (var hotelBooking in Model.HotelBookings)
        {
            <div class="row" style="margin-top: 0">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="card-title">Hotel Information</h5>
                                    <p><strong>Hotel: </strong>@hotelBooking.Hotel?.Name</p>
                                    <p><strong>Location: </strong>@hotelBooking.Hotel?.Location</p>                                    
                                    <p><strong>Number of Rooms: </strong>@hotelBooking.NumOfRoomsToBook</p>
                                    <p><strong>Price per Night: </strong>$@hotelBooking.Hotel?.Price</p>                                    
                                </div>
                                <div class="col-md-6">
                                    <h5 class="card-title">Booking Information</h5>
                                    <p><strong>Booked On: </strong>@hotelBooking.BookingDate</p>
                                    <p><strong>Check In Date: </strong>@hotelBooking.CheckInDate</p>
                                    <p><strong>Check Out Date: </strong>@hotelBooking.CheckOutDate</p>
                                    <p><strong>Number of Days Booked: </strong>@((int)(hotelBooking.CheckOutDate - hotelBooking.CheckInDate).TotalDays)</p>
                                    <p><strong>Total Amount: </strong>$@hotelBooking.TotalAmount</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>