@model ApplicationUser

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>User Information</h3>
        </div>
    </div>

    <div class="row" style="margin-top: 0">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">User Information</h5>
                    <p>Email: @Model.Email</p>
                    <p>First Name: @Model.FirstName</p>
                    <p>Last Name: @Model.LastName</p>
                    <p>Phone Number: @Model.PhoneNumber</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Profile Picture</h5>
                    @if (Model.ProfilePicture != null)
                    {
                        <img style="width: 150px; height: 150px; object-fit: cover; border-radius: 20px; margin-right: 2px;"
                             src="data:image/*;base64,@(Convert.ToBase64String(Model.ProfilePicture))" />
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Flight Information</h3>
        </div>
    </div>

    @if (Model.Bookings != null)
    {
        foreach (var flightBooking in Model.Bookings)
        {
            <div class="card mb-3">
                <div class="card-body">
                    <p>Flight Number: @flightBooking.Flight?.FlightNumber</p>
                    <p>Airline: @flightBooking.Flight?.Airline</p>
                    <p>Origin: @flightBooking.Flight?.Origin</p>
                    <p>Destination: @flightBooking.Flight?.Destination</p>
                    <p>Departure Time: @flightBooking.Flight?.DepartureTime</p>
                    <p>Arrival Time: @flightBooking.Flight?.ArrivalTime</p>
                </div>
            </div>
        }      
    }

    <div class="card">
        <div class="card-header">
            <h3>Car Rental Information</h3>
        </div>
    </div>

    @if (Model.CarSuccesses != null)
    {
        foreach (var carRental in Model.CarSuccesses)
        {
            <div class="card mb-3">
                <div class="card-body">
                    <p>Rental Company: @carRental.CarRental.RentalCompany</p>
                    <p>Pick Up Location: @carRental.CarRental.PickUpLocation</p>
                    <p>Pick Up Date: @carRental.CarRental.PickUpDate</p>
                    <p>Drop Off Date: @carRental.CarRental.DropOffDate</p>
                    <p>Car Model: @carRental.CarRental.CarModel</p>
                    <p>Maximum Passengers: @carRental.CarRental.MaxPassengers</p>
                </div>
            </div>
        }
    }

    <div class="card">
        <div class="card-header">
            <h3>Hotel Information</h3>
        </div>
    </div>

    @if (Model.HotelBookings != null)
    {
        foreach (var hotelBooking in Model.HotelBookings)
        {
            <div class="row" style="margin-top: 0">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="card-title">Hotel Information</h5>
                                    <p>Hotel: @hotelBooking.Hotel?.Name</p>
                                    <p>Location: @hotelBooking.Hotel?.Location</p>
                                    <p>Price: @hotelBooking.Hotel?.Price</p>
                                </div>
                                <div class="col-md-6">
                                    <h5 class="card-title">Booking Information</h5>
                                    <p>Booked On: @hotelBooking.BookingDate</p>
                                    <p>Check In Date: @hotelBooking.CheckInDate</p>
                                    <p>Check Out Date: @hotelBooking.CheckOutDate</p>
                                    <p>Number of Rooms: @hotelBooking.NumOfRoomsToBook</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>