@model List<Flight>
@{
	ViewData["Title"] = "Flights";
}

<script>
	$(document).ready(function () {
		var page = window.location.pathname;

		// Remove the 'active' class from all tabs
		$('.nav-link').removeClass('active');
		// Flight tab active
		$('#flights-tab').addClass('active');

	});
</script>

@Html.Partial("~/Views/Shared/_SearchBar.cshtml")

	<a class="btn btn-primary" style="margin-bottom: 20px;" asp-area="" asp-controller="Flight" asp-action="Create">Create New Flight</a>

<div class="card">
	<div class="card-body">
		@if (Model.Any())
		{
			<table class="table">
				<thead>
					<tr>
						<td>Flight Number</td>
						<td>Airline</td>
						<td>Origin</td>
						<td>Destination</td>
						<td>Departure</td>
						<td>Arrival</td>
						<td>Price</td>
						<td>Max Passengers</td>
						<td>Actions</td>
					</tr>
				</thead>
				<tbody>
					@foreach (var flight in Model)
					{
						if (flight.CurrentPassengers < flight.MaxPassengers)
						{
							<tr>
								<td>@flight.FlightNumber</td>
								<td>@flight.Airline</td>
								<td>@flight.Origin</td>
								<td>@flight.Destination</td>
								<td>@flight.DepartureTime</td>
								<td>@flight.ArrivalTime</td>
								<td>@flight.Price</td>
								<td>@flight.MaxPassengers</td>
								<td>
									<a asp-controller="Booking" asp-action="GetBookFlight" asp-route-id="@flight.FlightId" class="btn btn-primary">Book Flight</a>
									<a asp-action="Details" asp-route-id="@flight.FlightId" class="btn btn-info">Details</a>

										<a asp-action="Edit" asp-route-id="@flight.FlightId" class="btn btn-secondary">Edit</a>
										<a asp-action="Delete" asp-route-id="@flight.FlightId" class="btn btn-danger">Delete</a>
								
								</td>
							</tr>
						}
					}
				</tbody>
			</table>
		}
		else
		{
			<p>No flights available.</p>
		}
	</div>
</div>