@model IEnumerable<GBC_Travel_Group_90.Models.Booking>

<div class="white-opaque">
    <h1>User Information</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.First().User.FirstName @Model.First().User.LastName</td>
                <td>@Model.First().User.Email</td>
            </tr>
        </tbody>
    </table>

    <h1>Flight Information</h1>

    <table class="table">
        <thead>
            <tr>
                <td>Flight Number</td>
                <td>Airline</td>
                <td>Origin</td>
                <td>Destination</td>
                <td>Departure</td>
                <td>Arrival</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var flight in Model)
            {
                <tr>
                    <td>@flight.Flight?.FlightNumber</td>
                    <td>@flight.Flight?.Airline</td>
                    <td>@flight.Flight?.Origin</td>
                    <td>@flight.Flight?.Destination</td>
                    <td>@flight.Flight?.DepartureTime</td>
                    <td>@flight.Flight?.ArrivalTime</td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <a asp-controller="Flight" asp-action="Index" class="btn btn-secondary">Back to Flights</a>
    </div>
</div>
